@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  *:not(dialog) {
    margin: 0;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  html, body {
    font-size: 62.5%; /* 1rem = 10px */
    line-height: 1;
    height: 100%;
    overflow: hidden;
    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
    background-color: #e5e7eb;
  }

  #root, #__next {
    isolation: isolate;
    height: 100%;
  }
}
