@import 'tailwindcss';
@import './styles/reset.css';
@import './styles/tokens/color.css';
@import './styles/tokens/typography.css';

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

[data-sonner-toast] {
  transition-duration: 100ms !important;
}
